
.aboutus {
    margin: 50px 0;
    padding: 50px;
}

.aboutus-1{
    display: flex;
}

.aboutus-1 .card1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutus-1 .card1 p {
    font-size: 20px;
    font-weight: 600;
}

.aboutus-1 .card1 h2 {
    font-weight: 600;
    font-size: 45px;
}

.aboutus-1 .card2 {
    padding: 0 10px;
}

#aboutNumCard2 {
    width: 60%;
}

.aboutus-2{
    width: 75%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.aboutus-2 div{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}

.aboutus-2 div h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

.aboutus-2 div p{
    text-align: center;
    line-height: 1.5;
    color: #acacac;
}

.about-headers {
    margin: 50px 0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.about-headers_card-1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-headers_card-1 h2 {
    font-weight: 600;
    font-size: 45px;
}

.about-headers_card-1 h3 {
    font-weight: 600;
    font-size: 20px;
}

.about-headers_card-1 span {
    color: rgb(233, 198, 0);
}

.about-headers_card-1 p {
    font-size: 15px;
    color: #727272;
    font-weight: 600;
    letter-spacing: 1%;
    word-spacing: 25%;
}

.about-headers_card-2 {
    width: 45%;
}

.text-black {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-indent: 10%;
    line-height: 1.5; 
    word-spacing: 6px;
}

.text-gray {
    color:#acacac;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {

    .aboutus {
        margin: 25px 0;
        padding: 25px;
    }

    .aboutus-1 {
        flex-direction: column;
        gap: 20px;
    }

    .aboutus-1 .card1{
        width: 100%;
    }

    #aboutNumCard2 {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .aboutus-1 .card1 h2 {
        font-weight: 600;
        font-size: 30px;
    }

    .text-black, .text-gray {
        font-size: 16px;
    }

    .aboutus-2{
        margin-top: 50px;
        flex-direction: column;
        gap: 25px;
    }

    .aboutus-2 div{
        width: 100%;
    }
}