.contact-input::placeholder {
  color: #E2E3E3;
}

.contact-input{
    border: none;
    border-bottom: solid 2px #E2E3E3;
}

.contact-select {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #E2E3E3;

  background-color: white;
  color: #444444;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23666666' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6 6 6-6' stroke='%23666666' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right center;
}

.contact-address p{
    color: #444444;
    font-size: 14px;
    line-height: 175%;
}

.contact-address h5{
    margin-bottom: 15px;
}